{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.6",
          "browsers": ">1%"
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-react-jsx"
  ]
}
